<!-- Validation failure messages -->
<% if @photo_comment.errors.any? %>
  <% @photo_comment.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Edit Photo Comment #<%= @photo_comment.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/update_photo_comment/<%= @photo_comment.id %>" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <button class="btn btn-warning">
        Update Photo Comment
      </button>
      or
      <a href="/photo_comments/<%= @photo_comment.id %>">Cancel</a>
    </form>
  </div>
</div>
